@use "../variables";

// Index Media Queries

@media (max-width: 1300px) {
    .market {
        padding-bottom: 100px;
    }

    .imgContainerLeft,
    .imgContainerRight {
        position: static;
        width: 100%;
        box-shadow: none;

        img {
            width: 490px;
            height: 300px;
            object-fit: cover;
        }
    }

    .marketFlex {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;

        .marketChild {
            width: calc((100% / 2) - 20px);
            margin: 0;
        }
    }

    .marketTextRight {
        margin-bottom: 0;
    }

}

@media(max-width: 1200px) {
    .headerImgContainer {
        display: none;
    }
}

@media (max-width: 1000px) {
    .gallery {
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
    }

    .gallery div {
        width: calc((100% / 2) - 40px);

        img {
            width: 100%;
        }

    }

    .gallery div:nth-child(3) {
        margin: 40px auto 0 auto;
    }

}

@media (max-width: 900px) {
    .about {
        .aboutContentContainer {
            flex-direction: column;
            justify-content: space-between;

            .aboutTextContainer {
                max-width: 100%;
                text-align: center;
                margin-bottom: 40px;

                .button {
                    margin: 0 auto;
                }
            }

            .aboutImgContainer {
                margin: 0 auto;
            }
        }
    }

    .marketFlex {
        flex-direction: column;
        align-items: center;

        .marketChild {
            width: 100%;

            .textContainerLeft,
            .textContainerRight {
                gap: 20px;

                h4,
                p {
                    margin: 0 auto;
                    max-width: 100%;
                    text-align: center;
                }

                button {
                    margin: 0 auto;
                }
            }
        }
    }

    .imgContainerLeft,
    .imgContainerRight {
        margin: 0 auto;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .marketTextLeft {
        order: 2;
    }

    .marketImgRight {
        order: 1;
    }

}

@media (max-width: 800px) {
    .gallery {
        flex-direction: column;
    }

    .gallery div {
        width: 80%;
    }

    .gallery div:nth-child(3) {
        margin: 0;
    }

    .positioningFlex {
        h2 {
            font-size: 4rem;
            line-height: 5rem;
            margin: 15% 20% 0 auto;
        }

        .headerImgContainer {
            display: none;
        }
    }

    .about {
        padding-top: 100px;
    }

    .linksUl {
        flex-direction: column;
        gap: 30px;

        li {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;
            padding: 0;

            p {
                width: 100%;
                margin: 0 auto;
                text-align: center;
            }
        }
    }

    .iconTitle {
        justify-content: center;
        text-align: center;
    }
}

@media (max-height: 890px) {
    .headerImgContainer {
        width: 50%;
    }
}

@media (max-height: 720px) {
    .headerImgContainer {
        display: none;
    }
}

@media (max-width: 700px) {
    .banner {
        height: 250px;
    }
}

@media (max-width: 500px) {
    .iconTitle {
        flex-direction: column;
        align-items: center;
        gap: 10px;

        h4 {
            text-align: center;
        }
    }
}

@media (max-height: 450px) {
    .headerImgContainer {
        display: none;
    }
}

@media (max-width: 400px) {
    .positioningFlex {
        h2 {
            font-size: 3rem;
        }
    }
}