@use "./variables";

// About Styles
.about {
    background-color: variables.$lightBlue;
    padding: 200px 0 100px 0;
        .aboutContentContainer {
            display: flex;
            justify-content: space-between;
                .aboutTextContainer {
                    display: flex;
                    flex-direction: column;
                        p {
                            max-width: 805px;
                        }
                    
                }
                .aboutImgContainer {
                    box-shadow: -15px 15px 0 variables.$turquoise;
                    height: fit-content;
                    margin-left: 40px;
                }
        }
}

