@use "./variables";

// New Collection Styles
.asideWrapper {
    margin: 0 20px;
    max-width: 1260px;
}

.blogContent {
    display: flex;
    justify-content: space-between;
    background-color: variables.$lightBlue;
    overflow-x: clip;
    padding-bottom: 100px;
        h4,
        h5,
        p,
        a {
            color: variables.$solidWhite;
            text-align: left;
        }
        img {
            width: 100%;
        }

        .collection {
            display: flex;
            flex-direction: column;
            background-color: variables.$teal;
            width: 59.45%;
            box-shadow: 11px 10px 0px 0px variables.$turquoise;
                .collectionImgContainer {
                    box-shadow: 25px 25px 0px -10px variables.$turquoise;
                    width: 1128.1px;
                    position: relative;
                    left: -114px;
                    top: -115px;
                        img {
                            width: 100%;
                        }
                }
                .collectionTextContainer {
                    padding-left: 50px;
                    margin-bottom: 100px;
                    margin-left: 150px;
                        .blogDate {
                            color: variables.$lightBlue;
                            font-weight: bold;
                        }
                        p {
                            // TODO: Perhaps an issue with the wrapper?
                            max-width: 780px;
                            border: 2px solid red;
                        }
                }
            
                
                
        }
        aside {
            display: flex;
            flex-direction: column;
            background-color: variables.$teal;
            width: 25%;
            height: fit-content;
            margin-top: 190px;
                .asideImgContainer {
                    position: relative;
                    right: -17px;
                    top: -20px;
                    width: 458.617px;
                    img { 
                        width: 100%;
                    }
                }     
        }
}

.asideTextOne {
    p {
        max-width: 464px;
    }
}

.asideTextContainers {
    margin-right: 12px;
        ul {
            list-style: disc;
            color: variables.$solidWhite;
            text-align: left;
            padding: 0 0 0 30px;
            width: fit-content;
        }
}