@use "./variables";

.gallerySection {
    background-color: variables.$teal;
    padding: 100px 0;

}
.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.gallery li {
    width: calc((100% / 3) - 40px);
    gap: 20px;
}   
