@use "./variables";

// Wrapper
.wrapper {
    width: 90%;
    margin: 0 auto;
    min-width: 1260px;
}

button {
    color: variables.$blackTwo;
    background-color: variables.$lightBlue;
    cursor: pointer;
    
    &:hover,
    &:focus {
        text-decoration: underline;
        font-style: italic;
    }

}

a {
    text-decoration: none;
    
    &.button {
        color: variables.$solidWhite;
        background-color: variables.$darkBlue;
        cursor: pointer;
        padding: 18px 36px;
        
        &:hover,
        &:focus {
            text-decoration: underline;
            font-style: italic;
        }       
    }
}    

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}
