@use "./variables";

// Wrapper
.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1260px;
}

button {
    color: variables.$blackTwo;
    background-color: variables.$lighterBlue;
    cursor: pointer;
    width: fit-content;
    padding: 10px 35px;
    border: none;
    transition: 1s;
    
    &:hover,
    &:focus {
        background-color: variables.$turquoise;
        color: variables.$solidWhite;
    }

}

a {
    text-decoration: none;
    color: variables.$darkBlue;;    

        &:hover,
        &:focus {
            border-bottom: 2px solid variables.$turquoise;
        }
    
        &.button {
            color: variables.$solidWhite;
            background-color: variables.$darkBlue;
            cursor: pointer;
            width: fit-content;
            padding: 10px 35px;
            border: none;
            transition: 1s;
        
            &:hover,
            &:focus { 
            background-color: variables.$turquoise;
            color: variables.$blackTwo;

            }       
    }
}    

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}
