@use "./variables";

// Global Header Styles
header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
}


// Index Header Styles
header.index {
    background-image: url(../textilee-assets/header-home.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




.positioningFlex {
    display: flex;
    flex-direction: column;
    
    h2 {
            max-width: 565px;
            margin-top: 100px;
    }
    .headerImg {
        .headerImgContainer {
            position: absolute;
            bottom: -170px;
            left: 0px;
        }
    }
    
}


// Blog Header Styles
header.blog {
    background-image: url(../textilee-assets/blog-header.jpg);
    height: 75vh;
        h1 {
            margin-top: 150px;
        }
    
}




// ///////////////////////////////////////////////////////////////////////////////////
    
    
// Global Nav Styles
.navBar {
    width: 100%;
    height: auto;

    .navBarFlex {
        display: flex;
        justify-content: space-between;

        .navUl {
            display: flex;
            justify-content: space-between;
            padding: 0;

            li {
                padding: 5px 15px;
                    a {
                        padding-top: 8px;
                    }
            }
        }
    }
}

.navToggle,
.navToggleLabel {
    display: none;
}