@use "./variables";

// Global Header Styles
header {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


// Index Header Styles
header.index {
    background-image: url(../textilee-assets/header-home.jpg);
    position: relative;
        h2 {
            max-width: 550px;
            margin-top: 100px;
        }
            .headerImgContainer {
                position: absolute;
                bottom: -135px;
                // bottom: -210px;
            }
}


// Global Nav Styles
.navBar {
    width: 100%;
    height: auto;

    .wrapper {
        display: flex;
        justify-content: space-between;

        .navUl {
            width: 38%;
            display: flex;
            justify-content: space-between;

            li {
                padding: 5px 15px;
            }
        }
    }
}

.navToggle,
.navToggleLabel {
    display: none;
}