// Colours!
$darkBlue: #1a315c;
$turquoise: #0cadc0;
$lightBlue: #ccedfb;
$black: #1e1713;
$blackTwo: #161515;
$solidWhite: #ffffff;
$teal: #21404F;
$lighterBlue: #C6D9FB;

// Font Families
$headingFont: "Pacifico";
$bodyFont: "Lato";

// Font Size
$baseFontSize: 1rem;