@use "../variables";

// Global Header Styles
header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: 100vh;
}

p.logo {
    a {
        color: variables.$blackTwo;
    }
}

// Index Header Styles
header.index {
    background-image: url(../textilee-assets/header-home.jpg);
}
.positioningFlex {
    display: flex;
    flex-direction: column;
    
    h2 {
            max-width: 565px;
            margin-top: 100px;
    }
    .headerImg {
        .headerImgContainer {
            position: relative;
            bottom: -170px;
            left: -322px;
            max-width: 100%;
        }
    }
    
}


// Blog Header Styles
header.blog {
    background-image: url(../textilee-assets/blog-header.jpg);
        h1 {
            margin-top: 150px;
        }
    
}

// Contact Header Styles
header.contact {
    background-image: url(../textilee-assets/contact-header.jpg);
    height: 70vh;
        h1 {
            margin-top: 100px;
        }
}




// ///////////////////////////////////////////////////////////////////////////////////
    
    
// Global Nav Styles
.navBar {
    width: 100%;
    height: auto;

    .navBarFlex {
        display: flex;
        justify-content: space-between;

        .navUl {
            display: flex;
            justify-content: space-between;
            padding: 0;

            li {
                padding: 5px 15px;
                    a {
                        padding-top: 8px;
                    }
            }
        }
    }
}

.navToggle,
.navToggleLabel {
    display: none;
}