@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Catamaran:wght@600&family=Lato:wght@400;700&family=Pacifico&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: white;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

html {
  font-size: 120%;
}

body {
  font-family: "Lato";
  font-size: 1rem;
  color: #1e1713;
}

h1,
h2,
h3,
h4,
h5,
a.button {
  font-family: "Pacifico";
  font-weight: normal;
  color: #1a315c;
  margin: 0;
}

h1 {
  font-size: 3.4rem;
  line-height: 3.2rem;
}

h2 {
  font-size: 2.9rem;
  line-height: 3.4rem;
}

h3 {
  font-size: 2.15rem;
  line-height: 2.9rem;
}

h4 {
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 0.125rem;
  text-align: right;
}
h4.comments {
  color: #161515;
  letter-spacing: 0.215rem;
  text-align: left;
}

h5 {
  font-size: 1.75rem;
  letter-spacing: 0.145rem;
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
}
p.logo {
  font-family: "Pacifico";
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.2rem;
  letter-spacing: 0.085rem;
}

button {
  font-family: "Pacifico";
  font-weight: normal;
  font-size: 1.35rem;
  text-align: center;
  line-height: 1.6rem;
  letter-spacing: 0.07rem;
}

a.button {
  font-size: 1.35rem;
  text-align: center;
}

nav {
  font-weight: bold;
  text-align: center;
  line-height: 1.45rem;
  letter-spacing: 0.07rem;
}
nav .navUl {
  text-transform: uppercase;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1260px;
}

button {
  color: #161515;
  background-color: #C6D9FB;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 35px;
  border: none;
}
button:hover, button:focus {
  text-decoration: underline;
  font-style: italic;
}

a {
  text-decoration: none;
}
a.button {
  color: #ffffff;
  background-color: #1a315c;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 35px;
  border: none;
}
a.button:hover, a.button:focus {
  text-decoration: underline;
  font-style: italic;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

header {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

header.index {
  background-image: url(../textilee-assets/header-home.jpg);
  position: relative;
}
header.index h2 {
  max-width: 550px;
  margin-top: 100px;
}
header.index .headerImgContainer {
  position: absolute;
  bottom: -135px;
}

.navBar {
  width: 100%;
  height: auto;
}
.navBar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navBar .wrapper .navUl {
  width: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navBar .wrapper .navUl li {
  padding: 5px 15px;
}

.navToggle,
.navToggleLabel {
  display: none;
}

.about {
  background-color: #ccedfb;
  padding: 200px 0 100px 0;
}
.about .aboutContentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about .aboutContentContainer .aboutTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 53.4%;
}
.about .aboutContentContainer .aboutImgContainer {
  -webkit-box-shadow: -15px 15px 0 #0cadc0;
          box-shadow: -15px 15px 0 #0cadc0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.gallerySection {
  background-color: #21404F;
  padding: 100px 0;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0;
}
.gallery .gallery li {
  width: calc(33.3333333333% - 40px);
  gap: 10px;
}
.gallery .gallery li:nth-child(2) {
  margin: 0 20px;
}

section.links {
  background-color: #ccedfb;
}

.linksUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px 0 50px 0;
  margin: 0;
}
.linksUl li {
  width: 50%;
  padding: 0 0 50px 0;
}
.linksUl li p {
  max-width: 535px;
  margin-left: 60px;
}

.iconTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.iconTitle h4 {
  text-align: left;
}
.iconTitle .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  background-color: #0cadc0;
  color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
}

.market {
  background-color: #21404F;
  padding: 100px 0 70px 0;
  position: relative;
}
.market img {
  width: 100%;
}

.marketFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.marketFlex .marketChild {
  width: 100%;
}
.marketFlex .marketChild h4, .marketFlex .marketChild p {
  color: #ffffff;
}
.marketFlex .marketChild p {
  max-width: 518px;
}

.marketImgLeft {
  -webkit-box-shadow: 25px 25px 0 -10px #0cadc0;
          box-shadow: 25px 25px 0 -10px #0cadc0;
  position: absolute;
  max-width: 41.5%;
  top: -40px;
  left: 0px;
}

.marketImgRight {
  -webkit-box-shadow: -25px 25px 0 -10px #0cadc0;
          box-shadow: -25px 25px 0 -10px #0cadc0;
  position: absolute;
  max-width: 44%;
  right: 0;
  bottom: -35px;
}

.marketTextLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.marketTextLeft .textContainerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.marketTextLeft .textContainerLeft h4, .marketTextLeft .textContainerLeft p {
  text-align: right;
}

.marketTextRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 200px;
}
.marketTextRight .textContainerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.marketTextRight .textContainerRight h4, .marketTextRight .textContainerRight p {
  text-align: left;
}