@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Catamaran:wght@600&family=Lato:wght@400;700&family=Pacifico&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 30;
  background: white;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lato";
  font-size: 1rem;
  color: #1e1713;
}

h1,
h2,
h3,
h4,
h5,
a.button {
  font-family: "Pacifico";
  font-weight: normal;
  color: #1a315c;
  margin: 0;
}

h1 {
  font-size: 3.4rem;
  line-height: 3.2rem;
}

h2 {
  font-size: 2.9rem;
  line-height: 3.4rem;
}

h3 {
  font-size: 2.15rem;
  line-height: 2.9rem;
}

h4 {
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 0.125rem;
  text-align: right;
}
h4.comments {
  color: #161515;
  letter-spacing: 0.215rem;
  text-align: left;
}

h5 {
  font-size: 1.75rem;
  letter-spacing: 0.145rem;
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
}
p.logo {
  font-family: "Pacifico";
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.2rem;
  letter-spacing: 0.085rem;
}

button {
  font-family: "Pacifico";
  font-weight: normal;
  font-size: 1.35rem;
  text-align: center;
  line-height: 1.6rem;
  letter-spacing: 0.07rem;
}

a.button {
  font-size: 1.35rem;
  text-align: center;
}

nav {
  font-weight: bold;
  text-align: center;
  line-height: 1.45rem;
  letter-spacing: 0.07rem;
}
nav .navUl {
  text-transform: uppercase;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1260px;
}

button {
  color: #161515;
  background-color: #C6D9FB;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 35px;
  border: none;
  -webkit-transition: 1s;
  transition: 1s;
}
button:hover, button:focus {
  background-color: #0cadc0;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #1a315c;
}
a:hover, a:focus {
  border-bottom: 2px solid #0cadc0;
}
a.button {
  color: #ffffff;
  background-color: #1a315c;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 35px;
  border: none;
  -webkit-transition: 1s;
  transition: 1s;
}
a.button:hover, a.button:focus {
  background-color: #0cadc0;
  color: #161515;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

form {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

input {
  width: calc(50% - 30px);
  border: none;
  border-bottom: 2px solid #0cadc0;
  height: 80px;
  padding-left: 30px;
}
input::-webkit-input-placeholder {
  opacity: 1;
}
input::-moz-placeholder {
  opacity: 1;
}
input:-ms-input-placeholder {
  opacity: 1;
}
input::-ms-input-placeholder {
  opacity: 1;
}
input::placeholder {
  opacity: 1;
}

textarea {
  width: 100%;
  resize: none;
  border: 2px solid #0cadc0;
  padding: 30px 0 0 30px;
}
textarea::-webkit-input-placeholder {
  opacity: 1;
}
textarea::-moz-placeholder {
  opacity: 1;
}
textarea:-ms-input-placeholder {
  opacity: 1;
}
textarea::-ms-input-placeholder {
  opacity: 1;
}
textarea::placeholder {
  opacity: 1;
}

header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  height: 100vh;
}

p.logo a {
  color: #161515;
}

header.index {
  background-image: url(../textilee-assets/header-home.jpg);
}

.positioningFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.positioningFlex h2 {
  max-width: 565px;
  margin-top: 100px;
}
.positioningFlex .headerImg .headerImgContainer {
  position: relative;
  bottom: -170px;
  left: -322px;
  max-width: 100%;
}

header.blog {
  background-image: url(../textilee-assets/blog-header.jpg);
}
header.blog h1 {
  margin-top: 150px;
}

header.contact {
  background-image: url(../textilee-assets/contact-header.jpg);
  height: 70vh;
}
header.contact h1 {
  margin-top: 100px;
}

.navBar {
  width: 100%;
  height: auto;
}
.navBar .navBarFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navBar .navBarFlex .navUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
.navBar .navBarFlex .navUl li {
  padding: 5px 15px;
}
.navBar .navBarFlex .navUl li a {
  padding-top: 8px;
}

.navToggle,
.navToggleLabel {
  display: none;
}

footer {
  background-color: #161515;
  margin: 0;
  padding: 5px 0;
}
footer p {
  color: #ffffff;
  margin: 0;
  text-align: center;
}

.about {
  background-color: #ccedfb;
  padding: 200px 0 100px 0;
}
.about .aboutContentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about .aboutContentContainer .aboutTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about .aboutContentContainer .aboutTextContainer p {
  max-width: 805px;
}
.about .aboutContentContainer .aboutImgContainer {
  -webkit-box-shadow: -15px 15px 0 #0cadc0;
          box-shadow: -15px 15px 0 #0cadc0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 40px;
}

.gallerySection {
  background-color: #21404F;
  padding: 100px 0;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.galleryImg {
  width: calc(33.3333333333% - 20px);
  gap: 10px;
}
.galleryImg img {
  cursor: pointer;
}
.galleryImg img:hover, .galleryImg img:active {
  border: 5px solid #ffffff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 40;
  display: none;
}
.modal i {
  position: absolute;
  top: 0;
  right: 10px;
  color: #ffffff;
  font-size: 60px;
  cursor: pointer;
}
.modal img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 5px solid #ffffff;
  width: 750px;
  -o-object-fit: cover;
     object-fit: cover;
}

section.links {
  background-color: #ccedfb;
}

.linksUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px 0;
  margin: 0;
}
.linksUl li {
  width: 50%;
  gap: 20px;
}
.linksUl li p {
  max-width: 551px;
  margin-left: 60px;
}

.iconTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.iconTitle h4 {
  text-align: left;
}
.iconTitle .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  background-color: #0cadc0;
  color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
}

.market {
  background-color: #21404F;
  padding: 100px 0 70px 0;
  overflow-x: clip;
}
.market img {
  width: 100%;
}

.marketFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.marketFlex .marketChild {
  width: 100%;
}
.marketFlex .marketChild h4, .marketFlex .marketChild p {
  color: #ffffff;
}
.marketFlex .marketChild p {
  max-width: 518px;
}

.marketImgLeft,
.marketImgRight {
  position: relative;
}

.imgContainerLeft {
  -webkit-box-shadow: 25px 25px 0 -10px #0cadc0;
          box-shadow: 25px 25px 0 -10px #0cadc0;
  position: absolute;
  width: 800px;
  top: -143px;
  left: -322px;
}

.imgContainerRight {
  -webkit-box-shadow: -25px 25px 0 -10px #0cadc0;
          box-shadow: -25px 25px 0 -10px #0cadc0;
  position: absolute;
  width: 800px;
  right: -321px;
  bottom: -150px;
}

.marketTextLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.marketTextLeft .textContainerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.marketTextLeft .textContainerLeft h4, .marketTextLeft .textContainerLeft p {
  text-align: right;
}

.marketTextRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 10%;
}
.marketTextRight .textContainerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.marketTextRight .textContainerRight h4, .marketTextRight .textContainerRight p {
  text-align: left;
}

.banner {
  background-image: url(../textilee-assets/banner.jpg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
}

.styleSearch {
  background-color: #ccedfb;
  padding: 100px 0;
}
.styleSearch .styleSearchFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.styleSearch .styleSearchFlex h4 {
  text-align: center;
}
.styleSearch .styleSearchFlex p {
  max-width: 1223px;
  text-align: center;
  margin-top: 5px;
}
.styleSearch .styleSearchFlex .button {
  margin-top: 30px;
}

.blogContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ccedfb;
  overflow-x: clip;
  padding-bottom: 100px;
}
.blogContent h4,
.blogContent h5,
.blogContent p,
.blogContent a {
  color: #ffffff;
  text-align: left;
}
.blogContent img {
  width: 100%;
}
.blogContent .collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #21404F;
  width: 61%;
  -webkit-box-shadow: 11px 10px 0px 0px #0cadc0;
          box-shadow: 11px 10px 0px 0px #0cadc0;
}
.blogContent .collection .collectionImgContainer {
  -webkit-box-shadow: 25px 25px 0px -10px #0cadc0;
          box-shadow: 25px 25px 0px -10px #0cadc0;
  max-width: 1271.1px;
  width: 110%;
  position: relative;
  left: -114px;
  top: -115px;
}
.blogContent .collection .collectionImgContainer img {
  width: 100%;
}
.blogContent .collection .collectionTextContainer {
  margin-bottom: 100px;
}
.blogContent .collection .collectionTextContainer .blogDate {
  color: #ccedfb;
  font-weight: bold;
}
.blogContent aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #21404F;
  width: 25%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 290px;
}
.blogContent aside .asideImgContainer {
  position: relative;
  right: -17px;
  top: -20px;
  width: 458.617px;
}
.blogContent aside .asideImgContainer img {
  width: 100%;
}

.asideTextOne,
.asideTextTwo {
  width: 100%;
}

.asideTextOne p {
  max-width: 464px;
}

.asideTextContainers {
  margin-right: 12px;
}
.asideTextContainers ul {
  list-style: disc;
  color: #ffffff;
  text-align: left;
  padding: 0 0 0 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.collection p {
  max-width: 775px;
}

.commentSection {
  background-color: #ccedfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
}
.commentSection .commenters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
  gap: 50px;
}
.commentSection .commenters .commentOne,
.commentSection .commenters .commentTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.commentSection .commenters .commentOne .commentTextContainer,
.commentSection .commenters .commentTwo .commentTextContainer {
  max-width: 630px;
}
.commentSection .commenters .commentOne .commentImgContainer,
.commentSection .commenters .commentTwo .commentImgContainer {
  width: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 20px;
}
.commentSection .commenters .commentOne .commentImgContainer img,
.commentSection .commenters .commentTwo .commentImgContainer img {
  width: 100%;
}

.commentDate {
  color: #1a315c;
  font-weight: bold;
}

.commentForm input {
  background-color: #ccedfb;
  color: #1a315c;
}
.commentForm input::-webkit-input-placeholder {
  color: #1a315c;
  opacity: 1;
}
.commentForm input::-moz-placeholder {
  color: #1a315c;
  opacity: 1;
}
.commentForm input:-ms-input-placeholder {
  color: #1a315c;
  opacity: 1;
}
.commentForm input::-ms-input-placeholder {
  color: #1a315c;
  opacity: 1;
}
.commentForm input::placeholder {
  color: #1a315c;
  opacity: 1;
}
.commentForm textarea {
  background-color: #ccedfb;
  color: #1a315c;
}
.commentForm textarea::-webkit-input-placeholder {
  color: #1a315c;
  opacity: 1;
}
.commentForm textarea::-moz-placeholder {
  color: #1a315c;
  opacity: 1;
}
.commentForm textarea:-ms-input-placeholder {
  color: #1a315c;
  opacity: 1;
}
.commentForm textarea::-ms-input-placeholder {
  color: #1a315c;
  opacity: 1;
}
.commentForm textarea::placeholder {
  color: #1a315c;
  opacity: 1;
}
.commentForm button {
  width: 100%;
  color: #ffffff;
  background-color: #1a315c;
}
.commentForm button:hover, .commentForm button:focus {
  background-color: #0cadc0;
  color: #161515;
}

.contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  padding: 100px 0;
}

.contactMainBackground {
  background-color: #ccedfb;
}

.contactForm {
  background-color: #21404F;
  padding: 100px 100px;
  width: 80%;
  -webkit-box-shadow: 30px 30px 0 -10px #0cadc0;
          box-shadow: 30px 30px 0 -10px #0cadc0;
  position: absolute;
  top: -200px;
  left: -150px;
}
.contactForm input {
  background-color: #21404F;
  margin-bottom: 15px;
  color: #ffffff;
}
.contactForm input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
.contactForm input::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.contactForm input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
.contactForm input::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
.contactForm input::placeholder {
  color: #ffffff;
  opacity: 1;
}
.contactForm textarea {
  background-color: #21404F;
  color: #ffffff;
}
.contactForm textarea::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
.contactForm textarea::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.contactForm textarea:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
.contactForm textarea::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
.contactForm textarea::placeholder {
  color: #ffffff;
  opacity: 1;
}
.contactForm button {
  color: #161515;
  background-color: #C6D9FB;
  cursor: pointer;
  width: 100%;
  padding: 10px 35px;
  border: none;
  -webkit-transition: 1s;
  transition: 1s;
}
.contactForm button:hover, .contactForm button:focus {
  background-color: #0cadc0;
  color: #ffffff;
}

.contactInfo {
  margin-left: 79.7%;
  padding-bottom: 50px;
  min-width: 256px;
}

.contactIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-left: 0;
  margin-bottom: 30px;
}
.contactIcons li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.contactIcons li a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.contactIcons li a i {
  color: #1a315c;
  font-size: 1.4rem;
}

.info p {
  line-height: 0.5rem;
}
.info p:nth-child(1) {
  margin-bottom: 45px;
}
.info p a {
  color: unset;
}

@media (max-width: 800px) {
  .navBar .navBarFlex .navToggleLabel {
    position: absolute;
    display: block;
    top: 0;
    right: 10px;
    padding: 10px;
    margin: 15px 0;
    cursor: pointer;
  }
  .navBar .navBarFlex .navToggleLabel:hover .hamburgerIcon, .navBar .navBarFlex .navToggleLabel:focus .hamburgerIcon, .navBar .navBarFlex .navToggleLabel:active .hamburgerIcon {
    background-color: #0cadc0;
  }
  .navBar .navBarFlex .navToggleLabel .hamburgerIcon {
    width: 60px;
    height: 5px;
    background-color: #1a315c;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  .navBar .navBarFlex .navUl {
    display: none;
  }
  .navToggle:checked ~ .navUl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 64px;
    left: 0;
    background-color: #ccedfb;
    z-index: 20;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navToggle:checked ~ .navUl li {
    width: auto;
    padding: 10px 0;
    font-size: 1.5rem;
  }
  .navToggle:checked ~ .navUl li a {
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px 35px;
    border: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navToggle:checked ~ .navUl li a:hover, .navToggle:checked ~ .navUl li a:focus {
    background-color: #0cadc0;
    color: #161515;
  }
}
@media (max-height: 700px) {
  header {
    min-height: 500px;
  }
}
@media (max-width: 1300px) {
  .market {
    padding-bottom: 100px;
  }
  .imgContainerLeft,
.imgContainerRight {
    position: static;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .imgContainerLeft img,
.imgContainerRight img {
    width: 490px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .marketFlex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
  }
  .marketFlex .marketChild {
    width: calc(50% - 20px);
    margin: 0;
  }
  .marketTextRight {
    margin-bottom: 0;
  }
}
@media (max-width: 1200px) {
  .headerImgContainer {
    display: none;
  }
}
@media (max-width: 1000px) {
  .gallery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .gallery li {
    width: calc(50% - 40px);
  }
  .gallery li img {
    width: 100%;
  }
  .gallery li:nth-child(3) {
    margin: 40px auto 0 auto;
  }
}
@media (max-width: 900px) {
  .about .aboutContentContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about .aboutContentContainer .aboutTextContainer {
    max-width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  .about .aboutContentContainer .aboutTextContainer .button {
    margin: 0 auto;
  }
  .about .aboutContentContainer .aboutImgContainer {
    margin: 0 auto;
  }
  .marketFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .marketFlex .marketChild {
    width: 100%;
  }
  .marketFlex .marketChild .textContainerLeft,
.marketFlex .marketChild .textContainerRight {
    gap: 20px;
  }
  .marketFlex .marketChild .textContainerLeft h4,
.marketFlex .marketChild .textContainerLeft p,
.marketFlex .marketChild .textContainerRight h4,
.marketFlex .marketChild .textContainerRight p {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
  }
  .marketFlex .marketChild .textContainerLeft button,
.marketFlex .marketChild .textContainerRight button {
    margin: 0 auto;
  }
  .imgContainerLeft,
.imgContainerRight {
    margin: 0 auto;
  }
  .imgContainerLeft img,
.imgContainerRight img {
    width: 100%;
    height: 100%;
  }
  .marketTextLeft {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .marketImgRight {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 800px) {
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery li {
    width: 80%;
  }
  .gallery li:nth-child(3) {
    margin: 0;
  }
  .positioningFlex h2 {
    font-size: 4rem;
    line-height: 5rem;
    margin: 15% 20% 0 auto;
  }
  .positioningFlex .headerImgContainer {
    display: none;
  }
  .about {
    padding-top: 100px;
  }
  .linksUl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .linksUl li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 0;
  }
  .linksUl li p {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .iconTitle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
@media (max-height: 890px) {
  .headerImgContainer {
    width: 50%;
  }
}
@media (max-height: 720px) {
  .headerImgContainer {
    display: none;
  }
}
@media (max-width: 700px) {
  .banner {
    height: 250px;
  }
}
@media (max-width: 500px) {
  .iconTitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .iconTitle h4 {
    text-align: center;
  }
}
@media (max-height: 450px) {
  .headerImgContainer {
    display: none;
  }
}
@media (max-width: 400px) {
  .positioningFlex h2 {
    font-size: 3rem;
  }
}
@media (max-width: 1250px) {
  .asideWrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1260px;
  }
  .blogContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogContent .collection {
    width: 100%;
  }
  .blogContent .collection .collectionTextContainer {
    margin-bottom: 50px;
  }
  .blogContent .collection .collectionTextContainer p {
    max-width: 100%;
  }
  .blogContent aside {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    gap: 50px;
    padding-bottom: 100px;
  }
  .blogContent aside .asideImgContainer {
    position: static;
    max-width: 100%;
    margin: 0 auto;
  }
  .blogContent aside .asideImgContainer img {
    -webkit-box-shadow: -25px 25px 0px -10px #0cadc0;
            box-shadow: -25px 25px 0px -10px #0cadc0;
  }
  .asideTextContainers {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .asideTextContainers p {
    max-width: 100%;
  }
  .asideTextTwo ul {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .asideTextTwo ul li {
    width: calc(50% - 20px);
  }
}
@media (max-width: 700px) {
  .asideTextTwo ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .blogContent .collection .collectionImgContainer {
    position: static;
    width: 80%;
    margin: 100px 0 50px 0;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .asideTextTwo ul li {
    width: 100%;
  }
}
@media (max-width: 1250px) {
  .commentSection .commenters .commentOne .commentTextContainer,
.commentSection .commenters .commentTwo .commentTextContainer {
    max-width: 80%;
  }
  .commentForm {
    width: 100%;
  }
}
@media (max-width: 990px) {
  .commentSection .commenters .commentOne .commentImgContainer,
.commentSection .commenters .commentTwo .commentImgContainer {
    display: none;
  }
  .commentSection .commenters .commentOne .commentTextContainer,
.commentSection .commenters .commentTwo .commentTextContainer {
    max-width: 100%;
  }
}
@media (max-width: 800px) {
  .commentForm input {
    width: 100%;
  }
}
@media (max-width: 1500px) {
  .contactForm input {
    width: 100%;
  }
  .contactInfo {
    padding-bottom: 175px;
  }
}
@media (max-width: 1100px) {
  .contactFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactFlex .contactForm {
    position: static;
    width: 100%;
  }
  .contactFlex .contactInfo {
    width: 100%;
    margin: 0 auto;
    padding: 100px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactFlex .contactInfo .contactIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 30px;
  }
  .contactFlex .contactInfo .contactIcons i {
    font-size: 2.8rem;
  }
  .contactFlex .contactInfo .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
  }
}
@media (max-width: 800px) {
  .contact h1 {
    line-height: 6.2rem;
  }
  .contactForm {
    width: 100%;
    padding: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .contactMainBackground {
    background-color: #21404F;
  }
  .contactInfo .contactIcons i {
    color: #ffffff;
  }
  .info p {
    color: #ffffff;
  }
}
@media (max-height: 700px) {
  .contactFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactFlex .contactForm {
    position: static;
    width: 100%;
    padding: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .contactFlex .contactInfo {
    width: 100%;
    margin: 0 auto;
    padding: 100px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactFlex .contactInfo .contactIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 30px;
  }
  .contactFlex .contactInfo .contactIcons i {
    font-size: 2.8rem;
    color: #ffffff;
  }
  .contactFlex .contactInfo .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
  }
  .contactFlex .contactInfo .info p {
    color: #ffffff;
  }
  .contactMainBackground {
    background-color: #21404F;
  }
}